AddHandler mod_python .log
AddHandler mod_python .html
AddHandler mod_python .json
AddHandler mod_python .txt
AddHandler mod_python .png
AddHandler mod_python .svg
DirectoryIndex "index.html"
PythonHandler handler
PythonDebug On

Options +Indexes
IndexOptions +FancyIndexing +FoldersFirst
IndexIgnore logformat.py stats.py screenshots css
IndexOrderDefault Descending Name

<Files ~ "\.(html|log|txt)$">
AuthType Digest
AuthName "#nodrama.de"
AuthUserFile /var/www/2pktfkt/irc/nodrama.de/.htdigest
AuthDigestDomain .
require valid-user
</Files>

RewriteEngine On
RewriteBase /irc/nodrama.de/
RewriteCond %{QUERY_STRING} "!mode=plain"
RewriteRule "^(.*)\.log$" "$1.html" [R=301,L]
RewriteRule "^(.*)\.log$" "$1.txt?" [R=301,L]
